<!-- <p>book works!</p> -->

  <main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>New products</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>{{fetchedBook.bookName}}</h1>
            <p class="sub">Author: {{fetchedBook.author}}</p>
            <p class="price">${{fetchedBook.price}}</p>
          </div>
          <div class="image">
            <img src="/assets/book2.jpg" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem nam pariatur voluptate perferendis, asperiores aspernatur! Porro similique consequatur, nobis soluta minima, quasi laboriosam hic cupiditate perferendis esse numquam magni.</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="bi bi-star-fill p-1"></i></li>
              <li><i class="bi bi-star-fill p-1"></i></li>
              <li><i class="bi bi-star-fill p-1"></i></li>
              <li><i class="bi bi-star-fill p-1"></i></li>
              
              
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Recommended by</p>
          <h3>BookStore Ocean</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
  </main>



  <!-- <main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>New products</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>Skill with People</h1>
            <p class="sub">Author: साने गुरुजी</p>
            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="/assets/book2.jpg" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem nam pariatur voluptate perferendis, asperiores aspernatur! Porro similique consequatur, nobis soluta minima, quasi laboriosam hic cupiditate perferendis esse numquam magni.</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="bi bi-star-fill p-1"></i></li>
              <li><i class="bi bi-star-fill p-1"></i></li>
              <li><i class="bi bi-star-fill p-1"></i></li>
              <li><i class="bi bi-star-fill p-1"></i></li>
              
              
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Recommended by</p>
          <h3>BookStore Ocean</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
  </main> -->

