<!-- <p>home works!</p> -->

<router-outlet></router-outlet>

















<!-- <H1> ----- Dashboard ----- </H1>

<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <h1>Welcome </h1>
       
        <br>
        <h1 *ngIf="currentUser" >user is {{currentUser}} </h1>
        <button (click)="getUser()" mat-raised-button>Get Details</button>


        <button (click)="getCurrentUser()">Current UserName</button>


    </div>
</div> -->





<!-- <div *ngIf="loggedIn">
    <p>Welcome, {{ currentUser }}</p>
    <p>Token Expiration: {{ tokenExpiration | date: 'medium' }}</p>
  </div>
  <div *ngIf="!loggedIn">
    <p>Not logged in.</p>
  </div>
   -->
  





